.main-content {
  position: relative;
  margin-top: 25px;
  overflow: auto;

  .content-slider {
    .single-slide {
      position: relative;
      height: 300px;

      .image {
        height: 100%;
      }
      .caption {
        height: 100%;

        .title {
          margin-top: 10px;
          color: @color-dark;
          font-size: 1.5em;
        }
        .description {
          padding:10px 20px 10px 0;
        }
      }
    }
  }
  .content-articles {
    padding: 5px;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 5px #CCC;
  }

  // unislider
  .banner { position: relative; overflow: auto; }
  .banner li { list-style: none; }
  .banner ul li { float: left; }
}