header {
  position: relative;
  .top-header {
    background: @color-dark;
    color: #ffffff;

    font-size: 0.9em;

    .site-name {
      padding: 5px;
      float: left;
      font-weight: bold;
    }
    .quick-menu {
      float: right;

      ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

        li {
          display: inline-block;
          padding: 5px;

          &:hover {
            background: rgba(255, 255, 255, 0.25);
          }
          a {
            color: #ffffff;
            cursor: pointer;
          }
        }
      }
    }
  }
  .main-header {

    .site-logo {
      img {
        border-radius: 0 0 10px 10px;
      }
    }
    .site-shortname {
      padding: 10px;

      color: @color-dark;
      font-size: 3em;
      line-height: 1em;
      font-weight: bold;
      letter-spacing: 5px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
  }
}