header {
  position: relative;
}
header .top-header {
  position: relative;
  background: #183883;
  color: #ffffff;
  font-size: 0.9em;
}
header .top-header .site-name {
  margin: 0;
  padding: 6px 0;
  float: left;
  font-size: 1em;
  font-weight: bold;
}
header .top-header .quick-menu {
  float: left;
}
header .top-header .quick-menu ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
header .top-header .quick-menu ul li {
  display: inline-block;
  padding: 5px;
}
header .top-header .quick-menu ul li:hover {
  background: rgba(255, 255, 255, 0.25);
}
header .top-header .quick-menu ul li a {
  color: #ffffff;
  cursor: pointer;
}
header .top-header .header-social {
  float: right;
  padding-right: 5px;
}
header .top-header .header-social .facebook {
  margin-top: 3px;
  width: 80px;
  overflow: hidden;
}
header .top-header .search {
  position: relative;
  float: right;
  background: #337ab7;
}
header .top-header .search input {
  outline: none;
  border: none;
  background: inherit;
  width: 50px;
  height: 28px;
  padding: 0 5px;
  color: #EFEFEF;
  transition: width 0.5s ease;
}
header .top-header .search input:focus {
  width: 150px;
}
header .top-header .search i {
  color: #183883;
  font-size: 18px;
  padding-right: 5px;
}
header .main-header {
  position: relative;
  background-color: #ffffff;
}
header .main-header .header-logo img {
  border-radius: 0 0 10px 10px;
}
header .main-header .header-logo .header-shortname {
  padding: 8px;
  margin: 0;
  float: left;
  color: #183883;
  font-size: 1.7em;
  line-height: 1em;
  font-weight: 300;
  letter-spacing: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
header .main-header .header-menu {
  position: relative;
  float: right;
  height: 74px;
  overflow: visible;
  font-size: 1.2em;
  z-index: 10;
}
header .main-header .header-menu > ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
header .main-header .header-menu > ul > li {
  display: inline-block;
  padding: 25px 30px;
  vertical-align: top;
}
header .main-header .header-menu > ul > li:hover {
  background-color: rgba(24, 56, 131, 0.1);
}
header .main-header .header-menu > ul > li:hover ul {
  height: auto;
  padding-top: 10px;
}
header .main-header .header-menu > ul > li a {
  cursor: pointer;
  text-decoration: none;
}
header .main-header .header-menu > ul > li a:hover {
  color: #183883;
}
header .main-header .header-menu > ul > li ul {
  height: 0;
  overflow: hidden;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  font-size: 0.8em;
  font-weight: normal;
}
.main-content {
  position: relative;
  margin-top: 25px;
  overflow: auto;
}
.main-content .content-slider .single-slide {
  position: relative;
  height: 300px;
}
.main-content .content-slider .single-slide .image {
  height: 100%;
}
.main-content .content-slider .single-slide .caption {
  height: 100%;
}
.main-content .content-slider .single-slide .caption .title {
  margin-top: 10px;
  color: #183883;
  font-size: 1.5em;
}
.main-content .content-slider .single-slide .caption .description {
  padding: 10px 20px 10px 0;
}
.main-content .banner {
  position: relative;
  overflow: auto;
}
.main-content .banner li {
  list-style: none;
}
.main-content .banner ul li {
  float: left;
}
body {
  font-family: "Open Sans", Verdana, sans-serif;
  background: #EFEFEF;
}
