// imports
@import "header";
@import "content";
@import "footer";

// vars
@color-dark: #183883;
@color-light: #337AB7;

@color-font-primary: #555;

// css
body {
  background: #EFEFEF; // url("../images/backgrounds/brillant.png");
  font-family: "Open Sans", Verdana, sans-serif;
  color: @color-font-primary;
}


